.landing {
    background-image: url("../images/landing.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
   
}

.landtxt{
    position: absolute;
    top:30vh;
    font-family: 'Sedgwick Ave Display', cursive;
    

}
.landtxt h1{
    font-size: 10vh;
    color: rgba(128, 128, 128, 0.692)
}
.landtxt h2{
    font-size: 10vh;
    color:orange
}

.registration{
    background-color: #08101f
}

.formstyle input{
    border-top: none;
    border-left: orange solid 5px;
    border-right: none;
    color:orange ;
    
}
.dark {
    background-color: #000000d0;
}
