.landing {
    background-image: url("../images/landing.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
   
}

.landtxt{
    position: absolute;
    top:30vh;
    font-family: 'Sedgwick Ave Display', cursive;
    

}
.landtxt h1{
    font-size: 10vh;
    color: rgba(128, 128, 128, 0.692)
}
.landtxt h2{
    font-size: 10vh;
    color:orange
}

.registration{
    background-color: #08101f
}

.formstyle input{
    border-top: none;
    border-left: orange solid 5px;
    border-right: none;
    color:orange ;
    
}
.dark {
    background-color: #000000d0;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-hover, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
